{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.2.1"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "jest-hoist"
  ],
  "ignore": [
    "node_modules"
  ]
}
